<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="font-size: 2.3em; line-height: 3.3em;">
      Clientes
      <br>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

  <ion-item *ngFor="let user of usersData" class="card-design">
    <ion-avatar slot="start">

      <img src="https://ui-avatars.com/api/?name={{user.name}}+{{user.lastName}}">
    </ion-avatar>
    <ion-label  (click)="gotoUserDetails(user._id)"><b>{{user.name}} {{user.lastName}}</b>
      <br>{{formatAddress(user.address)}}
    <br>
    <ion-badge [color]="user.status == '1' ? 'primary' : 'danger'">{{user.status ? 'Activo' : 'Inactivo'}}</ion-badge>
  </ion-label>
   

    <ion-label class="ion-text-right">{{formatDate(user.createdAt)}}</ion-label>

  </ion-item>
  

</ion-content>
