<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="header">
  <ion-avatar >
    <img src="https://ui-avatars.com/api/?name={{data.name}}+{{data.lastName}}">
  </ion-avatar>
  <span class="main-title">
    {{data.name}} {{data.lastName}}<br>
    <ion-badge class="ion-text-center" [color]="data.status == '1' ? 'primary' : 'danger'">{{data.status ? 'Activo' : 'Inactivo'}}</ion-badge>

</span>
</div>

<ion-row style="padding: 15px;">
  <ion-col size="6">Primer Nombre<br>
    <ion-input class="ion-no-padding" disabled type="text" value="{{data.name}}"></ion-input> 
  </ion-col>
  <ion-col size="6">Apellido<br>
    <ion-input class="ion-no-padding" disabled type="text" value="{{data.lastName}}"></ion-input> 
  </ion-col>
</ion-row>

<ion-row style="padding: 15px;">
  <ion-col size="12">Numero Telefonico<br>
    <ion-input class="ion-no-padding" disabled type="text" value="{{data.phoneNumber}}"></ion-input> 
  </ion-col>
 
</ion-row>


<ion-row style="padding: 15px;">
  <ion-col size="12">Correo<br>
    <ion-input class="ion-no-padding" disabled type="text" value="{{data.email}}"></ion-input> 
  </ion-col>
 
</ion-row>

<ion-row style="padding: 15px;">
  <ion-col size="12">Fecha Creación Usuario<br>
    <ion-input class="ion-no-padding" disabled type="text" value="{{formatDate(data.createdAt)}}"></ion-input> 
  </ion-col>
 
</ion-row>



  <h2 class="ion-text-center">
    Direcciones
  </h2>

  
  <ion-fab (click)="onClick()" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngFor="let address of addresses; let i = index;">
    <ion-card-header>
      <ion-card-title class="number-color">{{i + 1}}</ion-card-title>

      <ion-card-title class="ion-text-right">{{address.city}}</ion-card-title>
      <ion-card-title class="ion-text-right">{{address.street}}</ion-card-title>
      <ion-card-title class="ion-text-right">{{address.country}}</ion-card-title>


    </ion-card-header>
  
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>
</ion-content>
